* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; border: 0; }
.hdg { color: blue; font-weight: bold; font-size: .9em; }
ul, ol { padding: 1px 5px 1px 20px; margin: 0; }
li { color: black; }
svg { margin: 2px 0px 2px 2px; display: inline; background: yellow; border: 2px solid black; }
#header { color: black; background: #b0c4de; padding: 5px 0px 5px 0px; }
#content { margin-top: 10px; padding-bottom: 60px; }
#footer { position: absolute; bottom: 0; width: 100%; height: 60px; background: #b0c4de; }
#footer a { margin-right: 2px; }
#footer button { cursor: pointer; font-size: 8pt; display: block; margin-top: 5px; color: #fff; background-color: #6496c8; padding: 2px 2px 5px 2px; border: 1px solid navy; }
#page { filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#01B0C4DE', endColorstr='#55B0C4DE'); min-height: 100%; position: relative; }
.inc { width: 100%; min-height: 100%; }object.inc { height: 100%; }#page, .inc { font-family:"Microsoft Sans Serif";font-size:8pt;font-weight:normal;font-style:normal; }